p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
    background: #fff;
    border: 1px solid #ddd;
    border-color: #000;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
/*
pre {
  word-break: normal;
  word-wrap: normal;
}
*/
pre code {
  white-space: inherit;
}
